@import "~bootstrap/scss/bootstrap";

main{
    margin-left: 20px;
    height: 100vh;
}

// Footer
// footer p{
//     background-color: rgb(122, 20, 20);
//     color: rgb(168, 164, 164);
//     margin: 0;
//     padding: 0;
//     text-align: center;
// }

.mb-1{
    margin-bottom: 1em;
    margin-top: 1em;
}
